<%- include('./partials/head', {current: '/' }); %>

<main>
    <p class="homeTitle">HUIZEN</p>
    
    <section class="allHouses">
    
        <% houses.forEach(function(house) { %>
            <div class="homeCard">
                <div>
                    <picture>
                        <source class="homeImg"
                            srcset="https://fdnd-agency.directus.app/assets/<%= house.poster_image %>?format=avif" 
                            type="image/avif">
                            <source class="homeImg"
                                srcset="https://fdnd-agency.directus.app/assets/<%= house.poster_image %>?format=webp"
                                type="image/webp">
                            <img class="homeImg" src="https://fdnd-agency.directus.app/assets/<%= house.poster_image %>" alt="<%= house.poster_image %> Image">
                    </picture>
                </div>

                <div class="infoCard">
                    <p><%= house.street %> <%= house.house_nr %> <%= house.nr_addition %></p>

                    <form method="post" action="/">
                        <input type="hidden" value="<%= house.id %>" name="house_id">
                        <button class="likeButton" type="submit" name="actie">♥️</button>
                    </form>

                    <p><%= house.postal_code %> <%= house.city %></p>
                    <p><%= house.price %></p>

                    <div class="card">
                        <span onclick="gfg(1)" class="star">★</span>
                        <span onclick="gfg(2)" class="star">★</span>
                        <span onclick="gfg(3)" class="star">★</span>
                        <span onclick="gfg(4)" class="star">★</span>
                        <span onclick="gfg(5)" class="star">★</span>
                        <h3 id="output">Rating is: 0/5</h3>
                    </div>
                </div>
            </div>
        <% }) %>
    </section>
</main>

<%- include('./partials/foot') %>
